/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li {
    list-style: none;
    margin: 5px;
}

li:hover {
    color: #fb2823;
}

body {
    font-family: 'Segoe UI';
    color: whitesmoke;
    background-color: lightgray;
}

.ueberdiv {
    margin-left: 5%;
    background-color: #ba131a;  
    width: 860px;
    position: relative;
    font-size: 14px;
}

.heading {
    background-color: #9d0b0e;
    position: relative;
}

.listendings {
    display: inline-flex;
    width: 80%;
    justify-content: space-evenly;
    position: relative;
}

.ueberblick {
    background-color: #9d0b0e;
    position: absolute;
    right: 0px;
    width: 20%;
}

.logoleiste {
    width: 100%;
    margin: 15px;
    display: flex;

}

.wrapperorf {
    display: flex;
}

.wrappersonderaktionen {
    position: relative;
    width: 600px;
}

.vorarlberg {
    font-size: 26px;
}

.orf {
    width: 100px;
}

.neunplaetzeneunschaetze {
    width: 110px;
    justify-content: end;
    position: absolute;
    right: 0px;
}

.heading2 {
    background-color: #70140c;
    position: relative;
}

.listendings2 {
    display: inline-flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
}

.contentdiv {
    margin-left: 5%;
    background-color: white;  
    width: 860px;
    position: relative;
    font-size: 12px;
    margin-top: 5px;
}

.lead {
    color: black;
    position: relative;
    background-color: white;
    width: 75%;
    height: auto;
    left: 10%;
    top: -100px;
}

.keyword {
    margin: 15px;
    color: gray;
    font-weight: lighter;
    font-size: 16px;
    padding-top: 20px;
}

.title {
    font-size: 28px;
    margin: 15px;
    font-weight: bold;
}

.aufschneider {
    font-size: 18px;
    margin: 15px;
    font-weight: inherit;
    text-align: justify;
}

.zeitstempel {
    font-size: 15px;
    margin: 15px;
    font-weight: lighter;
    color: darkcyan;
}

.schtoryschtory {
    background-color: white;
    height: auto;
    font-size: 16px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}